<% @mains.each do |main| %>
<div class="card my-4">
  <div class="card-body top">
  <h5 class="widget-title">관련 사이트</h5>
  <hr>
    <div class="widget-link">
      <a href="https://class.likelion.org/" target="_blank">
        <span class="social-link">
          <img class='widget-icon' src='/assets/univ-logo'/>CLASSLION →</span>
      </a>
    </div>
    
    <div class="widget-link">
      <a href="https://github.com/likelion-sahmyook/" target="_blank">
        <span class="social-link">
          <img class='widget-icon' src='/assets/github-logo'/>GitHub →</span>
      </a>
    </div>
    <div class="widget-link">
      <a href="https://www.facebook.com/likelionsahmyook/" target="_blank">
        <span class="social-link"><img class='widget-icon' src='/assets/facebook-logo'/>facebook →</span>
      </a>
    </div>
    <div class="widget-link last" id="rule">
      <a href="https://www.instagram.com/likelion_syu" target="_blank">
        <span><img class='widget-icon' src='/assets/instagram.png'/>Instagram →</span>
      </a>
    </div>
  </div>
</div>
<% end %>