<div class="row">
    <div class="col-md-4">
        <!-- link-Widget -->
        <%= render '/posts/side_widget/link-widget' %>
    </div>
    <div class="col-md-4">
        <!-- Categories Widget -->
        <%= render '/posts/side_widget/cate-widget'%>
    </div>
    <div class="col-md-4">
        <!-- Facebook Widget -->
        <%= render '/posts/side_widget/fb-widget' %>
    </div>
</div>