<div class="col-md-2" id="limit">
    <%= f.label :과제기한 %><span class="label-star">*</span>
    
    <br>
    
    <script>
    $(document).ready(function(){
      $.datetimepicker.setLocale('kr');
    		$('.dt').datetimepicker({
    		onChangeDateTime : function(dp,$input){
    		$input.text($input.val());		
    		 },
    		  
    		 i18n:{
    		  kr:{
    		   months:[
    			'1월','2월','3월','4월',
    			'5월','6월','7월','8월',
    			'9월','10월','11월','12월',
    		   ],
    		   dayOfWeek:[
    			"일", "월", "화", "수", 
    			"목", "금", "토",
    		   ]
    		  }
    		 },
    		  timepicker:true,
    		  format:'Y-m-d H:i:s'	  
    		});
    			
    		$('.d').datetimepicker({
    		onChangeDateTime : function(dp,$input){
    		$input.text($input.val());		
    		},
    		  
    		 i18n:{
    		  kr:{
    		   months:[
    			'1월','2월','3월','4월',
    			'5월','6월','7월','8월',
    			'9월','10월','11월','12월',
    		   ],
    		   dayOfWeek:[
    			"일", "월", "화", "수", 
    			"목", "금", "토",
    		   ]
    		  }
    		 },
    		  timepicker:false,
    		  format:'Y-m-d'	  
    		});
    });
      
    </script>
    
    <%= f.text_field :limit, 'data-behaviour' => 'datepicker', class:"datepicker", id: "datetimepicker", autocomplete: "off"%>
    
    <script>
      $('#datetimepicker').datetimepicker({
        format:'Y.m.d H:i',
        lang: 'kr'
      });
    </script>

</div>