<%= render '/posts/nav' %>
    <div class="container" id="er">
        <%= link_to(image_tag('/assets/logo2', class:"logo-main"), posts_path )%>
        <h1>404<span class="er-ment">error!</span></h1>
        <h2>페이지를 찾을 수 없습니다:(</h2>
        <h3>존재하지 않는 주소를 입력하셨거나, 요청하신 페이지의 주소가 변경, 삭제되어 찾을 수 없습니다.</h3>
        <%= link_to "메인으로 돌아가기", class:"maingo", posts_path %> 
    </div>
<%= render '/posts/footer' %>