<%= render '/posts/nav' %>
    <div class="container" id="er">
        <%= link_to(image_tag('/assets/logo2', class:"logo-main"), posts_path )%>
        <h1>504<span class="er-ment">error!</span></h1>
        <h2>응답시간을 초과하였습니다:(</h2>
        <h3>서버 응답시간이 초과 되었습니다(Gateway Time-out). 해당 에러가 지속되면 <a href='mailto:sahmyook@likelion.org'>
      sahmyook@likelion.org</a>로 문의해주세요.</h3>
        <%= link_to "메인으로 돌아가기", posts_path, class: "maingo" %> 
    </div>
<%= render '/posts/footer' %>