<!-- Navigation -->
<%= render './posts/nav' %>

<!-- form -->
<div class="container_wrap_show"> 
<%= render 'form', main: @main %>
</div>
<!-- Footer -->
<%= render './posts/footer' %>

<!-- Select script-->
<% if current_page?(:controller => 'mains', :action => 'new') %>
  <script>
    $(document).ready(function(){
        if($("#main_hidden").val() == '표시'){
          $("#alink").show();
          $("#acontent").show();
        }else{
          $("#alink").hide();
          $("#acontent").hide();
        }
    });
  </script>
<% end %>