<footer class="py-5 footer">
  <div class="container">
    <div class='footer'>
      <p class="m-0">&copy; 멋쟁이 사자처럼 at 삼육대학교<span class="vertical-line"></span>개발: 배성현, 6기 일동</p>
      <p class="m-0">서울특별시 노원구 화랑로 815 삼육대학교 학생회관</p>
      <p class="m-0"><a href='mailto:sahmyook@likelion.org'>Email : sahmyook@likelion.org</a></p>
    </div>
  </div>
</footer>