<footer class="py-5 footer">
  <div class="container">
    <!--<div class="container sns text-center">-->
    <!--  <a class='sns-link' href='https://www.instagram.com/likelion_syu' target="_blank">-->
    <!--    <img class='sns-icon-s' src='/assets/insta'/> -->
    <!--  </a>-->
    <!--  <a class='sns-link' href='https://github.com/likelion-sahmyook' target="_blank">-->
    <!--    <img class='sns-icon' src='/assets/github-badge'/>-->
    <!--  </a>-->
    <!--  <a class='sns-link' href='mailto:sahmyook@likelion.org'>-->
    <!--    <img class='sns-icon' src='/assets/mail'/>-->
    <!--  </a>-->
    <!--</div>-->
    <!--<div class="fb-btnbox center">-->
    <!--  <%#= render "posts/fb-btn" %>-->
    <!--</div>  -->
    <div class='footer'>
      <p class="m-0">&copy; 멋쟁이 사자처럼 at 삼육대학교<span class="vertical-line"></span>개발: 배성현, 6기 일동</p>
      <p class="m-0">서울특별시 노원구 화랑로 815 삼육대학교 학생회관</p>
      <p class="m-0"><a href='mailto:sahmyook@likelion.org'>Email : sahmyook@likelion.org</a></p>
      
      <!--<p class="m-0">&copy; 2018 LIKELION SAHMYOOKUNIVERSITY </p>-->
      <!--<p class="m-0">Hosted on Heroku Pages  <img class='copy-icon' src='/assets/heroku'/>  Using Ruby on Rails.</p>-->
      <!--<p class="m-0">DEVELOPER SeonghyeonBae with LIKELION 6th </p>  -->
    </div>
  </div>
</footer>