<footer class="py-5 footer">
  <div class="container">
    <div class='footer'>
      <p class="m-0">&copy; 멋쟁이 사자처럼 at 삼육대학교<span class="vertical-line"></span>개발: 배성현, 6기 일동</p>
      <p class="m-0">서울특별시 노원구 화랑로 815 삼육대학교 학생회관</p>
      <p class="m-0"><a href='mailto:sahmyook@likelion.org'>Email : sahmyook@likelion.org</a></p>
      <p calss="m-0"><a href="https://github.com/likelion-sahmyook/likelion-sahmyook.github.io/wiki/%EA%B0%9C%EC%9D%B8%EC%A0%95%EB%B3%B4%EC%B2%98%EB%A6%AC%EB%B0%A9%EC%B9%A8" target="_blank">개인정보처리방침</a><span class="vertical-line"></span><a href="https://github.com/likelion-sahmyook/likelion-sahmyook.github.io/wiki/%EB%A9%8B%EC%9F%81%EC%9D%B4-%EC%82%AC%EC%9E%90%EC%B2%98%EB%9F%BC-at-%EC%82%BC%EC%9C%A1%EB%8C%80%ED%95%99%EA%B5%90-%ED%9A%8C%EC%B9%99" target="_blank">운영회칙</a></p>
    </div>
  </div>
</footer>