<% @homework_1.each do |home| %>
  <% if home.category === '과제' %>
    <a href="/posts/<%= home.id %>">
      <div class="notice">
        <!--etc 클래스를 붙여서 긴 제목이 ...으로 보이도록-->
        <img class='notice-icon' src='/assets/notice'/>
        <ul>
         <li>
           <h4 class="etc"><%= home.title %>
             <!-- 3일간 new 아이콘이 뜨도록 -->
             <% if home.limit > Time.current %>
             <div class="card-cate home" id="chome"><%= home.category %></div>
             <div class="card-cate" id="climit"><%= home.limit.strftime('%Y.%m.%d. %H:%M:%S')%> 까지</div>
             <% elsif %>
             <div class="card-cate home" id="expir">기한 만료</div>
             <% end %>
           </h4>
          </li>
        </ul>
      </div>
    </a>
    <hr class="notihr"/>
  <% elsif home.count == 0 %>
    <div class="empty40"></div>
  <% end %>
<% end %>