<% @notice_1.each do |noti| %>
  <% if noti.category === '공지사항' %>
    <a href="/posts/<%= noti.id %>">
      <div class="notice">
        <!--etc 클래스를 붙여서 긴 제목이 ...으로 보이도록-->
        <img class='notice-icon' src='/assets/notice'/>
        <ul>
         <li>
           <h4 class="etc"><%= noti.title %>
             <!-- 7일간 new 아이콘이 뜨도록 -->
             <% if noti.created_at + 7*24*60*60 > Time.zone.now %>
             <span class="new-icon">NEW!</span>
             <% end %>
           </h4>
          </li>
        </ul>
      </div>
    </a>
    <hr class="notihr"/>
  <% elsif noti.count == 0 %>
    <div class="empty40"></div>
  <% end %>
<% end %>