<% if Post.count == 0 %>
<div class="nullpost">
  <h1 class="null-h1">:( 게시글이 없습니다!</h1>
  <% if user_signed_in? %>
    <% if current_user.has_role? 'admin' %>
      <%= link_to "첫 번째 게시글 작성하기→", new_post_path, class:"null-link"%>
    <% elsif current_user.has_role? 'member' %>  
      <%= link_to "첫 번째 게시글 작성하기→", new_post_path, class:"null-link"%>
    <% end %>
  <% end %>  
</div>
<% end %>