<!-- Navigation -->
<%= render 'nav' %>

<!-- Page Content -->
<div class="container">
      
        <!-- Blog Entries Column -->
        <div class="col-md-12 title"> 
          <h1 class="title-custom">일정</h1>
            <div class="lecture-link">
              <a href="https://calendar.google.com/calendar/embed?src=sahmyook%40likelion.org&ctz=Asia%2FSeoul" target="_blank">
                <span class="social-link"><img class='widget-icon' src='/assets/calendar'/>멋쟁이 사자처럼 at 삼육대학교 Google 캘린더</span>
              </a>
            </div>
          <hr class="margin-b0"/>
        </div>  
      <div class="row">    
        <div class="col-md-12"> 
            <iframe src="https://calendar.google.com/calendar/b/4/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FSeoul&amp;src=c2FobXlvb2tAbGlrZWxpb24ub3Jn&amp;src=bGlrZWxpb24ubmV0X3EwdG9vZWp0bHFjaWE1OHJua2Zia3JoMHJvQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=a28uc291dGhfa29yZWEjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23039BE5&amp;color=%234285F4&amp;color=%2333B679&amp;color=%230B8043&amp;showTitle=0&amp;showTz=0&amp;showPrint=1&amp;showTabs=1&amp;showCalendars=0&amp;showNav=1" style="border-width:0; margin-top: 20px; padding: 5px;" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
            <!--<iframe src="https://calendar.google.com/calendar/embed?src=likelion.net_q0tooejtlqcia58rnkfbkrh0ro%40group.calendar.google.com&ctz=Asia%2FSeoul" style="border: 0; padding: 20px;" width="100%" height="600" frameborder="0" scrolling="no"></iframe>-->
        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
    
<!-- Footer -->
<%= render 'footer' %>
