<!-- Navigation -->
<%= render 'nav' %>

<!-- form -->
<div class="container">
  <h1 class="title-customform">수정<span class="title-star">*</span></h1>
  <hr>
  <%= render 'form', post: @post %>
</div>
<!-- Footer -->
<%= render 'footer' %>

<!-- Select script-->
<% if current_page?(:controller => 'posts', :action => 'edit') %>
  <script>
    $(document).ready(function(){
        if($("#post_category").val() == '수업자료' || $("#post_category").val() == '질문'){
          $("#lecture").show();
        }else{
          $("#lecture").hide();
        }
    });
      $(document).ready(function(){
        if($("#post_category").val() == '수업자료'){
          $("#lecturelabel1").show();
        }else{
          $("#lecturelabel1").hide();
        }
    });
    $(document).ready(function(){
        if($("#post_category").val() == '질문'){
          $("#lecturelabel2").show();
        }else{
          $("#lecturelabel2").hide();
        }
    });
    $(document).ready(function(){
        if($("#post_category").val() == '과제'){
          $("#limit").show();
        }else{
          $("#limit").hide();
        }
    });
  </script>
<% end %>