<!-- Navigation -->
<%= render 'nav' %>
 
<!-- form -->
<div class="container">
  <h1 class="title-customform">새 글 작성<span class="title-star">*</span></h1>
  <hr>
  <%= render 'form', post: @post %>
</div>
<!-- Footer -->
<%= render 'footer' %>
 

